
// Colors
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-success: #63cc82;
$color-error: #e4757a;
$color-warning: #fd7856;
$color-info: #927bc1;
$color-hover: lighten($color-secondary, 10%);


// Media query breakpoints
$breakpoint-tablet: 768px;

// Typography
$font-family-primary: 'Lato', sans-serif;
$light-weight: 300;
$bold-weight: 700;
$font-size-lg: 1.5em;